* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-image: url(img/fondo2.jpg);
  padding-top: 100px;
}
header {
  width: 100%;
  height: 80px;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  background-color: white;
}
header h1 {
  font-size: 70px;
}
.img img {
  width: 100px;
  float: left;
}
.img1 img {
  margin-top: 10px;
  width: 100px;
  float: right;
}
section {
  line-height: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 0 0 25px;
  padding: 20px 20px 20px 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
section h1 {
  border: 3px;
  border-style: solid;
  margin: 0 0 25px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  background-color: greenyellow;
}
section img {
  width: 250px;
  float: right;
}
.text {
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  background-color: greenyellow;
}
.pregunta h1 {
  background-color: aqua;
}
.pregunta .text {
  background-color: aqua;
}
.pregunta img {
  width: 70px;
  float: left;
  border-radius: 10px;
  border: 10px;
  margin-right: 20px;
}
.img3 img {
  width: 120px;
  border-radius: 20px;
}
ol {
  list-style-position: inside;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  background-color: aquamarine;
}
.img5 img {
  float: left;
  width: 240px;
}
.img6 img {
  float: right;
  width: 240px;
}
table {
  border: 1px solid;
  border-collapse: collapse;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
}
table td {
  border: 1px solid;
  padding: 10px;
}
table tr:hover {
  background-color: #ccc;
}
